__pycache__
*pyc
dev_env
ghw.egg-info
.snakemake
.ipynb_checkpoints
egg_info/
build
ghw/*.c
ghw/*.so

Untitled.ipynb
data/input/adata.db
data/input/*.csv
data/input/snakefile.py
data/output.baseline/
data/output/


